main{
    width: 90vw;
    height: 90vh;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    width: 100%;
    margin: 5vh;
    height: 90%;
}

.gestione-capitolo{
    width: 100%;
    height: 30vh;
}

.pre-card{
    width: 80%;
    height: 30vh;
}

.aggiunta{
    height: 100%;
}

.aggiunta textarea{
    width: 100%;
    resize: none;
    height: 70%;
}

.aggiunta input{
    width: 100%;
}

.aggiunta div{
    height: 100%;
}

.inputs-aggiunta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-modifica{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-modifica{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-chibi{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.btn-chibi{
    width: 25%;
}

.btn-jyle:hover{
    cursor: pointer;
    content: url("../images/idea-lamp-jyle.png");
    width: 30%;
}

.btn-alice:hover{
    cursor: pointer;
    content: url("../images/happy-alice-star.png");
    width: 30%;
}

.alert-message{
    height: 3vh;
    padding: 0;
}